.paste {
    position: relative;
    text-align: center;
}
.p_titletext{
    position: relative;
    text-align: center;
    color: darkorange;
    font-size: 40px;
}
.p_pastetext{
    position: relative;
    text-align: center;
    color: yellowgreen;
    font-size: 25px;
    margin-top: -20px;
    top: -15px;
}
.p_authortext {
    position: relative;
    text-align: center;
    color: yellowgreen;
    font-size: 25px;
    top: 25px;
}
.submit_btn {
    position: relative;
    top: 60px;
    right: 165px;
    width: 60px;
    color: firebrick;
    border: none;
    font-family: "Times New Roman", serif;
    font-size: large;
}
.pastetext {
    border: 6px gold outset;
    position: relative;
    left: 30px;
    bottom: -15px;
}
.authortext {
    position: absolute;
    top: -15px;
    left: 46.25vw;
}
body {
    background-image: url("bg.JPG");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-origin: content-box;
}